## .NET gitignore
bin/
obj/
out/
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs

# NuGet
*.nupkg
*.snupkg
.nuget/
packages/
project.lock.json
project.fragment.lock.json
artifacts/

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/

# Publish
publish/

# Rider
.idea/

# macOS
.DS_Store
